html,
body {
  height: 100%;
  margin: 0;
}

div#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

div#root main {
  flex: 1;
}

div#root footer {
  height: auto;
}

.MuiAlert-root {
  margin-bottom: 1.5rem;
  height: fit-content;
}
